*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html, body, .root {
  height: 100%;
  width: 100%;
}

/* body {
  line-height: 1.5;
} */

/* body, .app {
  background: white;
} */

                                                      /* main page */
                                                       /* navBar */
.navBar{
  background: #F9F9F9;
  height: 3vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 100vw; */
}
.navBar p {
  margin: 1em 7em 1em 7em ;
  color: #232323;
  font-weight: Medium;
  font-size: 13px;
}
.navBar button {
  border: none;
  background-color: #F9F9F9;
}
.navBar button {
  outline: none;
}
.navBar button:checked {
  border: none;
}
.navBottons{
  margin: .6vw 1vw 1vw 38vw;
  font-size: 15px;
  font-weight: Medium;
}
.navBar a{
  border: none;
  color: #232323;
  text-align: right;
  padding-left: 2em;
}
.navBar a:hover{
  text-decoration: none;
  color: #232323;
}
.mytreetyPlus span{
  color: orange;
}
.mytreetyPlus span:hover{
  color: orange;
}
.seletList {
  border : 1px solid black;
  margin: 1em;
  padding: 1em;
  text-align: center; 
}
.seletList optgroup option{
margin: 0;
padding: 0;
display: flex ;
text-align: center;
}

#dropdown-menu-align-right{
padding: 0;
margin: 0; 
display:inline-block;

}

/* the dropdawn menu */
.rmsc .dropdown-container { 
width: 15em ;
}
.FilterBar {
display:inline-block !important;

}
                                                            /* search-section */
.search-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.search-section img{
  margin: 1em 1em 1em 5.5em ;
  width: 12vw;
  height: 3vw;
}
.search-section hr{
  text-align: center;
  width: 88vw;
  margin-left: 6vw;
}
.search-bar{
  width: 37vw;
  height: 3.15vw;
  margin: 1.05vw 0vw 1vw 2vw ;
  border-top-left-radius: .5vw;
  border-bottom-left-radius: .5vw;
  border: 0.05vw solid lightgray;
  background-color: white;
  z-index: 1;
}
.search-menu{
  /* display: none; */
  position: absolute;
  background-color: white;
  margin-left: 2.1em;
  margin-top: -0.5em;
  border-radius: 0.4em;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
  border-top: none;
  z-index: 1;
  width: 46.9em;
}
.search-menu button:focus{
  outline: none;
}
/* .fake-size-search-menu{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .75;
  left: 0;
  top :0;
  background-color: black;
  } */
.fake-size-drop-menu{
  height: 3.15vw;
  width: 4em;
}  
.row{
  display: flex;
  flex-direction: row;
}
.view-all{
  color: #3D897A;
  background: none;
  border: none;
  margin-left: 20em;
  padding: 1em;
}
.view-all:hover{
  color: orange;

}
.view-all span{
  margin-right: 1em;
  transition: 0.4s;
}
.view-all span:hover{
  margin-right: 2em;
}
.search-menu div button{
  color: #3D897A;
  background: none;
  border: none;
  margin-left: 33em;
}
.search-menu div button:hover{
  text-decoration: underline;
}
.search-menu a{
  margin-left: 2em;
  color: gray;
}
.search-menu a:hover{
  text-decoration: none;
}
.search-menu p{
  margin: 2em 0 1em 2em;
}
.search-input{
  position: relative;
  margin-left: 2.95em;
  margin-top: 0.75vw;
  width: 30vw;
  border: none;
  outline: none;
}
.search-input:focus{
  outline: none;
  border: none;
}
.search-input:focus+ection{
  border-color: #3D897A;
} */
.search-section-header{
  color: gray;
  padding-left: 1.5em;
  padding-bottom: -10em;

}
.sustainability-ranking{
  font-size: 1.1em;
  padding: 0em 0em 0em .6em;
}
.search-section-p{
  font-size: 1.1em;
  padding: 1em 0em 0em .6em;
}
.search-bar:focus {
  outline: none;
}
.dropdown-toggle {
  width: 10em;
  height: 3em;
  border-top-right-radius: .5em;
  border-bottom-right-radius: .5em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: 1em 1em 1em 0em;
  text-align: right;
  background-color: white;
  border: 0.05em solid lightgray;
  color: #232323;
}
.dropdown-toggle:hover {
  background-color: white;
  border: 0.05em solid lightgray;
  color: #232323;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: black;
  background-color: white;
  border: 0.05em solid lightgray;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 0%);
}
.btn-primary.focus, .btn-primary:focus {
  color: black;
  background-color: white;
  border: 0.05em solid lightgray;
  box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 0%);
}
.dropdown-menu{
  margin-right: 15em;
  border-radius: .4em;
}
.dropdown-item{
  color: gray;
}
.dropdown-item:focus{
  color: black;
  background-color: white;
}
.btn-search{
  height: 3.15vw;
  width: 8em;
  margin: 1em 1em 1em 0em;
  border-radius: 0.5em;
  background-color: #3D897A;
  border: none;
  color: white;
  font-size: 1em;
}
.btn-search:focus{
  outline: none;
}
.search-section-icons{
  margin-left: 4em;
}
.search-section-icons img{
  width: 8.5%;
  margin: 1vw 0.75vw;
}
.shopping-icon{
  width: 9% !important;
}
hr{
  width:85em;
  text-align:center;
  /* box-shadow: 0px 4px 8px 0px rgba(0,0,0,.2); */
}
.hover-section{
  display: flex;
  flex-direction: row;
  height: 2.5em;
  text-align: center;
}
.hover-section span{
  z-index: -1;
}
.content-first-line ,.content-second-line,.content-third-line{  
  display: flex;
  flex-direction: column;
}
.content-fourth-line{
  display: flex;
  flex-direction: column;
  padding-right: none;
}
.dropdown-hover { 
  color: #3D897A;
  margin-left: 5.3em;
}
.dropdown-hover-firstOne{
  margin: 0 1vw 1vw 5.5vw;
}
.dropdown-hover span{
  margin-right: 1vw;
} 
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  text-align: left;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
  /* padding: 12px 16px; */
  padding: 1em;
  z-index: 1;
  border-radius: 0.5em;
  left: 0em;
  margin-top: 1.15em;
}
.contant-rows{
  display: flex;
  flex-direction: row;
}
.dropdown-content p{
  font-weight: bold;
  color: black;
}
.dropdown-content a{
  color: gray;
  padding: .2em;
  transition: .4s;
}
.dropdown-content a:hover{
  transform: scale(.95);
}
.dropdown-content div{
  padding-right: 5em;
}
.dropdown-content a:hover{
  color: #3D897A;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.search-section-background{
  background-color: white;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.04);
}
                                                         /* sales section */
.sales-Section{
  display: flex;
  flex-direction: row;
  color: white;
  font-weight: bold;
}
.first-sales-Section{
  margin: 2em 1em 1em 5.5em;
  background-image: url('./Imgs/Image\ -\ Banner\ 1@2x.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 54vw;
  height: 31em;
  border-radius: 0.5em;
}        
.text-area{
  width: 18em;
  margin: 5em 5em 5em 5em;
}
.second-sales-Section{  
  display: flex;
  flex-direction: column;
}        
.top-section{
  margin: 2em 0em 1em 0em;
  background-image: url('./Imgs/Img\ -\ banner\ 2@2x.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30em;
  height: 15em;
  border-radius: 0.5em;
}
.bottom-section{
  margin: 0em 0em 1em 0em;
  background-image: url('./Imgs/Img\ -\ banner\ 3@2x.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30em;
  height: 15em;
  border-radius: 0.5em;
}
.second-sales-Section .text-area{
  margin: 2em 1em 1em 1em;
  width: 9em;
}                                         

                                                          /* TopRanked */
                                                          
.section-header{
  margin: 3em 1em 1em 5.5em;
  display: flex;
  flex-direction: row;
}
.section-header h1{
  font-size: 2.6em;
  font-weight:bold;
}
.section-header a{
 font-size: 1.5em;
 color: #3D897A;
 margin-left: 27Vw;
}
.section-header a:hover{
  text-decoration: none;
  color: orange;
 }
.section-header span{
  transition: .4s;
  margin: 1em;
}
.section-header span:hover{
  margin-right: 2em;
 }
 .container{
  /* margin: 2em 0em 0em 5.5em; */
  display: flex;
  flex-direction: row;
  width: 200em;
  /* margin: 3em 0 0 4.5em; */
  margin: 2em;
 }
 .card{
  border: 0.1em solid lightgray;
  width: 17em;
  height: 32em;
  border-radius: 0.6em;
  /* padding: 1em; */
  transition: 0.5s ease-in-out;
 }
 .card-hr{
  position: absolute;
  color: gray;
  box-shadow: none;
  width: 16.8em;
  top: 20em;
  border-top: 0.1em solid lightgray;
  }
  .card:hover{
    border-color: #3D897A;
  }
 .card:hover+.card-hr{
  border-color: #3D897A;
 }
.card .sale{
  background-color: #E65656;
  width: 5em;
  height: 2.2em;
  border-top-right-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
  margin: 1em 0 0 0.02em;
  color: white;
  position: absolute;
  text-align: center;
}
.card .sustainability-icon{
  width: 2.2em;
  height: 2.2em;
  border-top-left-radius: 0.6em;
  border-bottom-left-radius: 0.6em;
  border: 0.05em solid lightgray;
  margin: 1em 0 0 14.6em;
  position: absolute;
  padding: 0;
  border-right: none;
}
.card-hover-menu{
  display: none;
  position: absolute;
  width: 16.8em;
  height: 8em;
  background-color: white;
  left: 0;
  bottom: 10em;
  border-top: 0.1em solid #3D897A;
  transition: 0.5s ease-in-out;
}
.card-hover-menu img{
  width: 5em;
  height: 5em;
  border: 0.05em solid lightgray;
  padding: 0;
  margin: 0;

}
.card-hover-menu p{
  width: 5em;
  height: 5em;
}
.card img{
  padding: 2em;
}
.card-text-area{
   width: 100%;
   /* border-top: 0.1em solid lightgray; */
   text-align: left;
   box-shadow: 0px 2px 4px 0px rgba(0,0,0,0);
   padding-bottom: 1.5em;
   transition: 0.5s ease-in-out;
}
.hover-content{
   display: none;
 }
 .card p {
   margin-left: 1em;
   padding: 0.3em 0;
   height: 0em;
 }
 .card .price{
  font-weight: bold;
  margin-top: 2.5em;
 }
 .cart-button, .heart-button{
   margin-left: 0.7em;
   border: 0.09em solid lightgray;
   border-radius: 0.6em;
   background-color: white;
   color: gray;
   text-align: center;
   font-size: 1.2em;
   padding: .15em;
   height: 2.15em;
   outline-width: 0.09em;
 }
 .cart-icon{
   font-size: 1.25em;
 }
.cart-button{
  width: 10em;
 }
.cart-button:focus+.hover-content{
  outline-color: lightgray;
  color: #3D897A; 
  display: block;
 }
.cart-button:focus{
  outline-color: lightgray;
  color: gray;
 }
.cart-button:hover{
  outline-color: #3D897A;
  color: #3D897A;
 }
.heart-button{
  width: 2em;
 }
.heart-button:focus{
  outline-color: lightgray;
  color: #E65656;
 }
.heart-button:hover{
  outline-color: #E65656;
  color: #E65656;
 }
.cart-button span{
   font-size: .7em;
 }
 .hidden{
    display: none;
 }

.dropup {
  position: relative;
  display: inline-block;
  width: 10em;
}

.dropup-content {
  display: none;
  position: absolute;
  transition: all 1s ease-in;
}

.dropup-content a {
  display: block;
}

.dropup-content a:hover {background-color: #ccc}

.dropup:hover .dropup-content {
  display: block;
}


/* ????? */


ul {
  list-style-type: none;
  padding: 0 0 0 1em;
  margin: 0;
  display: flex;
  flex-direction: row;
}

li {
  display: inline-block;
  padding: 0  .15em;
  margin: 0;
  width: 3em;
  height: 3em;
}

input[type="checkbox"][id^="myCheckbox"] {
  display: none;
}

label {
  border: 0.075em solid lightgray;
  border-radius: 0.4em;
  display: block;
  position: relative;
  margin: 1em 0;
  cursor: pointer;
  width: 2.75em;
  height: 2.75em;
  text-align: center;
}
.label-size label{
  padding-top: 0.5em;
  width: 2.5em;
  height: 2.5em;
  font-size: 0.9em;
  margin: 1.5em 0 0 0;
}
label img {
    /* padding: 0 !important; */
  border-radius: 0.4em;
  border: none;
  width: 2.7em !important;
  height: 2.7em !important;
  padding: 0.5em !important;
}

:checked + label {
  border: 0.12em solid #3D897A;
}


                                                          /* categories */
.categories-section-header{
  margin-top: 6em;
}                                                
.categories-section-header h1{
  padding-right: 8.2em;
}                                                          
.categories-container{
  margin-left: 5em;  
  display: flex;
  flex-direction: column;
  text-align: center;
}
.categories-container a:hover{
  text-decoration: none;
}
.categories-first-row div ,.categories-second-row div{
  margin: .25em;
  padding: 5em;
  border-radius: 0.4em;
  font-size: 1.895em;
  font-weight: bold;
  width: 14.6em;
}         
.categories-first-row ,.categories-second-row{
  display: flex;
  flex-direction: row;
}                                                 
.categories-first-row div:nth-child(1){
  background-color: orange;
}
.categories-first-row div:nth-child(2){
  background-color: #A0D6D4;
}
.categories-first-row div:nth-child(3){
  background-color: #3D897A;
}
.categories-second-row div:nth-child(1){
  background-color: #F5F2D0;
}
.categories-second-row div:nth-child(2){
  background-color: #1E443D;
}
.categories-second-row div:nth-child(3){
  background-color: #F3D030;
}
.categories-first-row div:nth-child(1) a ,.categories-first-row div:nth-child(3) a ,.categories-second-row div:nth-child(2) a{
  color: white;
}
.categories-second-row div:nth-child(1) a ,.categories-second-row div:nth-child(3) a ,.categories-first-row div:nth-child(2) a{
  color: black;
}

                                                        /* our charities */
.OurCharities-section-header{
  margin-top: 6em;
}   
.OurCharities-section-header h1{
  margin-right: 11em;
}

@media screen and (max-width: 640px){
  .OurCharities-container{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .OurCharities-container{
    width: 33.33333%;
  }
}
.OurCharities-section{
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  margin: 0 0 0 4em;
  /* width: 10em; */
}
.OurCharities-content {
  position: relative;
  padding: 2em;
  width: 20em;
  height: 10em;
  border: 0.09em solid lightgray;
  border-radius: 0.6em;
  /* margin: auto; */
  overflow: hidden;
  margin: 1em;
}
.OurCharities-content .OurCharities-content-overlay {
  background: white;
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.OurCharities-content:hover .OurCharities-content-overlay{
  opacity: 1;
}
.OurCharities-content-image{
  width: 100%;
  /* height: 0%; */
  margin-top: 1em;
}
.OurCharities-content-details {
  position: absolute;
  text-align: left;
  padding: 2em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.OurCharities-content:hover .OurCharities-content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.OurCharities-content-details h3{
  color: #3D897A;
  font-weight: bold;
  font-size: 1em;
}
.OurCharities-content-details p{
  color: gray;
  font-size: 0.8em;
  /* white-space: nowrap; */
  overflow: hidden;
  /* text-overflow: ellipsis; */
  height: 4.5em;
}
.SeeMore{
  font-size: 1em;
  font-weight: bold;
  margin-left: 10em;
  font-size: 0.9em;
  border-color: white;
  outline: none;
  border: none;
  border-radius: 0.6em;
  background-color: white;
  text-align: center;
  outline-width: 0.09em;
}
.SeeMore:focus{
  outline: none;
  border: none;
}
.SeeMore:hover{
  text-decoration: none;
  color:black;
}
.SeeMore-popup{
  width: 30em;
  background-color: white;
  border: solid 0.05em lightgray;
  border-radius: 0.4em;
  padding: 1em;
  margin-bottom: 10em;
}
                                                         /* how it works */
.HowItWorks-container h1{
  text-align: center;
  margin-top: 3vh;
  font-weight: bold;
}
.HowItWorks-container .backGround{
  position: absolute;
  padding: 20em;
  width: 100%;
  z-index: 1;
}
.HowItWorks {
  margin: 3vw 7vw 0 7vw;
  background-image: url('./icons//vector\ -\ steps.svg');
  height: 80em;
  width: 70em;
  background-position:right;
  background-repeat: no-repeat;
  background-size: 50em;
  display: flex;
  flex-direction: row;
}
.HowItWorks-line-one ,.HowItWorks-line-two,.HowItWorks-line-three{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.HowItWorks-all-one{
  margin: 3em 0 0 3em;
}
.HowItWorks-all-one img:nth-child(2){
  margin: 5em 0 0 1em;
}
.HowItWorks-all-two{
  margin: 5em 0 0 8em;
}
.HowItWorks-all-two img:nth-child(2){
  margin: 4.5em 0 0 1em;
}
.HowItWorks-all-three{
  margin: 15em 0 0 4em;
}
.HowItWorks-all-four{
  margin: 11em 0 0 13em;
}
.HowItWorks-all-four img:nth-child(2){
  margin: 8em 0 0 1em;
}
.HowItWorks-all-five{
  margin:  10em 0 0 7em;
}
.HowItWorks-content{
  border: 0.09em solid lightgray;
  border-radius: 0.6em;
  width: 18em;
  height: 13em;
  padding: 1em;
  margin: 3em 0 0 0;
  background-color: white;
}
.HowItWorks img{
  width: 18em;
}
.HowItWorks-content h3{
  color: #3D897A;
}
.HowItWorks-content h4{
  font-weight: bold;
}
.HowItWorks-content p{
  color: gray;
}
.HowItWorks-row{
  display: flex;
  flex-direction: row;
}
.HowItWorks-row img{
  width: 2.5em;
  height: 2.5em;
}
                                                         /* best seller */
.BestSeller-header h1{
  margin-right: 12em;
}   
.BestSeller-header{
  margin-top: 0;
}

.best-seller-section{
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}
.topRanked-section-container{
  margin: 0 2em;
  /* overflow-x: auto; */
}      
                                                         /* e-mail section*/
.email-section-container{
  box-shadow: rgb(100 100 111 / 10%) 5px 1px 15px 5px;
  width: 85em;
  height: 31em;
  display: flex;
  flex-direction: row;
  padding: 5em;
  border-radius: 0.5em;
  margin: 5em 0 5em 5em;
}
.input-area{
  width: 31em;
  display: flex;
  flex-direction: column;
}
.email-section img{
  width: 38em;
  height: 20em;
  margin-left: 5em;
}
.email-section h1{
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 1em;
}
.email-section p{
  color: gray;
  font-size: 1.25em;
  margin-bottom: 2em;
}
.email-icon{
  position: absolute;
  font-size: 1.25em;
  margin-top: 0.6em;
  margin-left: 0.5em;
  color: lightgray;
}
.input-area button:hover{
  background-color: orange;
}
.inputWithIcon {
  position: relative;
}

.inputWithIcon input[type="email"] {
  width: 25em;
  border: 0.1em solid #aaa;
  border-radius: .4em;
  margin: .5em 0;
  outline: none;
  padding: .5em;
  box-sizing: border-box;
  transition: 0.3s;
  background-color: #F9F9F9;
}
.inputWithIcon input[type="email"]:focus {
  border-color: #3D897A;
}
.inputWithIcon input[type="email"] {
  padding-left: 2.5em;
}
.inputWithIcon .email-icon {
  position: absolute;
  left: 0;
  bottom: 1em;
  color: #aaa;
  transition: 0.3s;
}

.inputWithIcon input[type="email"]:focus+.email-icon {
  color: orange;
}
                                                            /* footer */
.footer-section{
  background-color: #3D897A;
  color: #F9F9F9;
}
.footer-section hr{
  box-shadow: none;
  border-color: hwb(0 98% 2%);
}

.footer-section-top{
  display: flex;
  flex-direction: row;
  margin:  0 5Vw;
}
.footer-section-top a{
  color: #F9F9F9;
  padding: 0.25em 0;
}
.footer-section-top a:hover{
  text-decoration: none;
}
.footer-section-top h4{
  padding: 0 0 1em 0;
  font-size: 1.25em;
  color: white;
}
.footer-section-top-one img{
  margin: 3vw 0 4vw 0;
  width: 15vw;
  height: 5vw;
} 
.social-icons{
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
}
.social-icons .social-single-icon{
  padding: 0 1em 0 0;
  margin-bottom: 0;
  /* margin: 2em; */
}
.footer-section-top-two,.footer-section-top-three,.footer-section-top-four,.footer-section-top-five{
  margin: 5vw 0 0 5vw;
}
.footer-section-top-two,.footer-section-top-three,.footer-section-top-four{
  display: flex;
  flex-direction: column;
  width: 25em;
}
.footer-section-top-three{
  width: 35em;
}
.footer-section-top-five{
  width: 65em;
}
.footer-section-top-five img{
  width: 5.5em;
  height: 3.8em;
  background-color: white;
  padding: .85em;
  margin: .4em;
  border-radius: 0.5em;
}
.footer-section-container hr{
  width: 85Vw;
  margin: 3vw 0 0 5vw;
  /* margin-left: 5em; */
}
.footer-section-bottom{
  display: flex;
  flex-direction: row;
  margin: 0 5vw;
} 
.footer-section-bottom p:nth-child(1){
  margin-right:17vw;
}   
.footer-section-bottom p:nth-child(1) span{
  font-size: 2.3em;
  margin: 0 0.1vw;
}
.footer-section-bottom p:nth-child(2){
  margin-top: 1vw;
}                                                           

                                                      /* SideNav */
.sidenav {
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
  height: 100%;
}
.sidenav-container{
  margin: 1em;
  padding: 0;
  top: 0;
}
.sidenav a {
  text-decoration: none;
  color: black;
  display: block;
  transition: 0.3s;
}
.sidenav .price{
  font-weight: bold;
}
.sidenav-container hr{
  margin: 1em 0;
}
.sidenav .sidenav-first-line{
  display: flex;
  flex-direction: row;
  top: 0;
  margin-top: 1em;
  position: absolute;
  height: 2em;
}
.sidenav-first-line p{
  font-size: 1em;
  margin-right: 12em;
  margin-top: 0.6em;
}
.sidenav .sidenav-second-line{
  display: flex;
  flex-direction: row;
  margin-top: 4em;
}
.sidenav-second-line-right{
  margin-left: 1em;
  height: 3em;
  padding: 0;
}
.sidenav-second-line-right p:nth-child(1), .sidenav span{
  color: gray;
}
.sidenav-third-line{
  display: flex;
  flex-direction: row;
}
.sidenav-third-line .price{
  margin-left: 7em;
}
.sidenav a:hover {
  color: #3D897A;
}

.sidenav .closebtn {
  font-size: 2em;
}
.sidenav img{
  width: 4em;
  height: 4em;
  border-radius: 0.4em;
  border: 0.1em solid lightgray;
  padding: 0.25em;
  transition: 0.5s;
  margin-top: 0.75em;
}
.sidenav img:hover{
  border: 0.1em solid #3D897A;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}
#main span{
  font-size:30px;
  cursor:pointer;
}
.sidenav button{
  font-size: 1em;
  padding: 0em;
  width: 9.5em;
  margin: 1em 1em 0 0;
}
.checkout-btn{
  font-size: 1.2em;
  padding: .15em;
  height: 2.15em;
  border-radius: 0.5em;
  background-color: #3D897A;
  border: none;
  color: white;
  font-size: 1em;
}
.checkout-btn:focus{
  outline: none;
}
.checkout-btn:hover{
  opacity: 0.9;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  /* padding: 8px 0; */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  /* margin-left: -80px; */
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  /* margin-left: -5px; */
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.Choose-colo-and-size{
  width: 12em;
  margin-left: 5em;
  background: gray;
  padding: 1em 0;
  font-size: 0.65em;
}
.Choose-colo-and-size::before{
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 0.5em solid gray;
  border-right: 0.5em solid transparent;
  border-top: 0.5em solid gray;
  border-bottom: 0.5em solid transparent;
  left: 19px;
  bottom: -1em;
}




.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

                                                          /* responsive */
                                                            /* for FHD */
@media (min-width: 1550px){
  body{
    font-size: 20px;
  }
  .navBottons{
    margin: .6vw 1vw 1vw 49vw;
  }
  .dropdown-toggle{
    padding: 0.9vw 1vw 2.22vw 0;
    margin-top: 1vw;
  }
  .search-bar{
    height: 3.5vw;
    margin: 1.15vw 0vw 1vw 2vw ;
  }
  .search-section-icons{
    margin-left: 4.5vw;
  }
  .search-inputWithIcon input[type="text"] {
    height: 3.15vw !important;
    width: 39em !important;
  }
  
}                                                    
                                                          /* for HD */
                                                          
@media (max-width: 1400px){
  body{
    font-size: 14px;  
    width: 1500;
  }
  .navBottons{
    margin: .6vw 1vw 1vw 31vw;
  }
  
  .first-sales-Section h1{
    width: 10em;
  }
  .second-sales-Section h1{
    width: 4em;
  }
  .search-section-dropdown,.btn-search{
    height: 3.5vw;
    padding: 0;
  }
  .search-inputWithIcon input[type="text"] {
    height: 3.5vw !important;
    width: 36.5vw !important;
  }
  .search-inputWithIcon {
    /* position: relative; */
    margin-top: 0.65em !important;
    /* margin-left: 2.1em; */
  }
  .search-inputWithIcon .email-icon {
    bottom: 1.25em !important;
  }
  .search-section-icons{
    margin-top: .5vw;
    margin-left: 5vw;
  }
}           

                                      /* for mobile */

@media (max-width: 1024px){
  body{
    font-size: 12px;
  }
  .navBar,.search-section-dropdown,.hover-section,.search-section hr{
    display: none;
  }
  .search-section-background{
    box-shadow: none;
  }
  .search-section img{
    margin: 5vw 0 0 2vw;
    width: 35%;
    height: 35%;
  }
  .search-bar{
    position:absolute;
    margin-top: 20vw;
    left: 0;
    height: 10vw;
    border-radius: 2vw;
    width: 70vw;
  }
  .search-input{
    width: 50vw;
    margin-top: 2vw;
    margin-left: 7vw;
  }
  .btn-search{
    position: absolute;
    margin-top: 20vw;
    margin-left: 75vw;
    height: 10vw;
    width: 20vw;
  }
  
  .search-section-icons{
    margin-left: 27vw;
    margin-bottom: 5vw;
  }

  .sales-Section{
    flex-direction: column;
    margin: 0;
    width: 93vw;
  }
  .sales-Section .text-area{
    margin: 3vw;
  }
  .sales-Section .text-area p{
    font-size: 1.9vw;
    width: 37vw;
    margin-top: 0;
    margin-bottom: 0;
  }
  .sales-Section .text-area h4{
    font-size: 1.9vw;
    width: 37vw;
    margin-top: 0;
  }
  .first-sales-Section{
    margin: 5vw 2vw 0 2vw;
    width: 93vw;
    height: 45vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .second-sales-Section{
    display: flex;
    flex-direction: row;
    margin-top: 0;
  }
  .first-sales-Section .text-area h1{
    font-size: 4vw;
    margin-top: 9vw;
    margin-bottom: -3vw;
  }
  .second-sales-Section .text-area h1{
    font-size: 3.5vw;
    margin-top: 5vw;
    margin-bottom: -3vw;
  }
  .top-section,.bottom-section{
    width: 93vw;
    height: 25vw;
    margin: 2vw;
  }
  .bottom-section{
    margin: 2vw -2vw 2vw 0;
  }
  .section-header{
    font-size: 6px;
    margin-right: 2vw;
    margin-left: 2vw;
  }
  .section-header a{
    margin-left: 3vw;
    width: 18vw;
  }
  .best-seller-card-section{
    margin-left: -15vw;
    margin-right: 15vw;
  }
}   













.search-inputWithIcon {
  position: relative;
  margin-top: 0.5em;
  margin-left: 2.1em;
}

.search-inputWithIcon input[type="text"] {
  border: 0.05em solid lightgray;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  margin: .5em 0;
  outline: none;
  padding: .5em;
  box-sizing: border-box;
  transition: 0.3s;
  height: 3.04em;
  width: 37em;
}

.search-inputWithIcon input[type="text"] {
  padding-left: 2.5em;
}
.search-inputWithIcon .email-icon {
  position: absolute;
  left: 0;
  bottom: 1em;
  color: #aaa;
  transition: 0.3s;
}

.search-inputWithIcon input[type="text"]:focus+.email-icon {
  color: orange;
}